// font-size (base 16px)
$f8: rem(8);
$f10: rem(10);
$f11: rem(11);
$f12: rem(12);
$f14: rem(14);
$f16: rem(16);
$f18: rem(18);
$f20: rem(20);
$f22: rem(22);
$f24: rem(24);
$f26: rem(26);

// bootstrap
$font-family-base: 'Arial';
$font-size-base: 1rem;
$font-weight-base: 400;
$line-height-base: 1.15;
$heading-margin-bottom: 0;
$paragraph-margin-bottom: 0;
