{% extends "../layouts/layout.html" %} {% set title = 'Gulp starter' %} {% set
page = 'home' %} {% block page %}

<h1>Ready to code !</h1><br />
<h1>Ready to code !</h1><br />
<h1>Ready to code !</h1><br />
<h1>Ready to code !</h1><br />
<h1>Ready to code !</h1><br />
<h1>Ready to code !</h1><br />
<h1>Ready to code !</h1><br />
<h1>Ready to code !</h1><br />
<h1>Ready to code !</h1><br />
<h1>Ready to code !</h1><br />
<h1>Ready to code !</h1><br />
<h1>Ready to code !</h1><br />
<h1>Ready to code !</h1><br />
<h1>Ready to code !</h1><br />
<h1>Ready to code !</h1><br />
<h1>Ready to code !</h1><br />
<h1>Ready to code !</h1><br />
<h1>Ready to code !</h1><br />
<h1>Ready to code !</h1><br />
<h1>Ready to code !</h1><br />
<h1>Ready to code !</h1><br />
<h1>Ready to code !</h1><br />
<h1>Ready to code !</h1><br />
<h1>Ready to code !</h1><br />
<h1>Ready to code !</h1><br />
<h1>Ready to code !</h1><br />
<h1>Ready to code !</h1><br />
<h1>Ready to code !</h1><br />
<h1>Ready to code !</h1><br />
<h1>Ready to code !</h1><br />
<h1>Ready to code !</h1><br />
<h1>Ready to code !</h1><br />
<h1>Ready to code !</h1><br />
<h1>Ready to code !</h1><br />
<h1>Ready to code !</h1><br />
<h1>Ready to code !</h1><br />
{% endblock %}
