html,
body {
  height: 100%;
}

.page {
  display: grid;

  height: 100%;

  grid-row-gap: 15px;
  grid-template-areas: 'header'
  'content'
  'footer';
  grid-template-rows: auto 1fr auto;

  #header {
    grid-area: header;
  }

  #content {
    grid-area: content;
  }

  #footer {
    grid-area: footer;
  }
}
