@import 'global';

#content {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  .ready {
    display: flex;

    align-items: center;
    svg {
      width: 30px;
      height: 30px;
      margin-right: 10px;
    }
  }
  img {
    width: 40%;
  }
}
